- var scripts  = []
- var examples = []
- var bowers   = []

- examples.push('json-fixtures')
- examples.push('../bower_components/sinon/index')
- examples.push('../bower_components/auto-config-fake-server/dist/auto-config-fake-server')
- examples.push('../bower_components/auto-config-fake-server/dist/mock')
- examples.push('constants')
- examples.push('example.module')
- examples.push('example-templates')
- examples.push('home.controller')
- examples.push('routes')

- scripts.push('layout.module')
- scripts.push('header.controller')
- scripts.push('main.directive')
- scripts.push('header.directive')
- scripts.push('footer.directive')
- scripts.push('project-nav.directive')
- scripts.push('templates')

- bowers.push('moment/moment')
- bowers.push('zepto/zepto')
- bowers.push('angular/angular')
- bowers.push('angular-scroll/angular-scroll')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-api-services/dist/main')
- bowers.push('appirio-tech-ng-messaging/dist/main')
- bowers.push('appirio-tech-ng-ui-components/dist/main')
- bowers.push('appirio-tech-ng-auth/dist/main')
- bowers.push('a0-angular-storage/dist/angular-storage')
- bowers.push('angular-jwt/dist/angular-jwt')
- bowers.push('auth0.js/build/auth0')
- bowers.push('auth0-angular/build/auth0-angular')

= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
