@import "work-includes";

$static-height: 70px;
$line-height  : 37px;

body {
  padding-top: $static-height; // needs to be padding since margin on body is wonkey
}

layout-header {
  display         : block;
  position        : fixed;
  top             : 0;
  width           : 100%;
  padding         : $padding $padding;
  background-color: $neutral-color-darkest;
  z-index         : 100;
  min-height      : $static-height;
  max-height      : $static-height;

  > ul {
    > li {
      width: 33.333%;
      float: left;
    }
  }

  .app-name {
    margin     : 0;
    text-align : center;
    color      : $white;
    min-height : 1px; /* fix to take up space */

    h4 {
      @include ellipsis;
    }
  }

  .logo {
    color: $white;
  }

  .links {
    @include vertical-align-middle();

    text-align: right;

    > * {
      text-align: left;
    }

    > li {
      margin-left: $margin;

      &:first-child {
        margin-left: 0px;
      }

      > a, > button {
        color: $white;
        text-transform: uppercase;
      }

      &.login {
        line-height: $line-height;
      }
    }

    .projects, .profile {
      position: relative;

      >  button {
        &:focus + ul {
          max-height: 200px;
        }
      }
    }

    .sublinks {
      @include transition (all 0.15s ease-in-out);

      position        : absolute;
      max-height      : 0;
      overflow        : auto;
      background-color: $white;
      right           : 0;
      margin-top      : $margin-smallest;
      border-radius   : $border-radius-smallest;

      &:hover {
        max-height: 200px;
      }

      li {
        border-top: 1px solid $neutral-color-light;

        .name {
          @include ellipsis;

          width: 280px;
          line-height: 18px; /* due to overflow hidden from ellipsis */
        }

        .notification {
          margin-left: $margin-small;
        }

        > a {
          @include vertical-align-middle;

          display: block;
          white-space: nowrap;
          color  : $black;
          padding: $padding;
        }

        &:first-child {
          border-top: none;
        }

        &:hover {
          background: $neutral-color-lightest;

          a {
            color: $primary-color;
          }
        }
      }
    }

    .notifications {
      $popup-max-height: 300px;

      position: relative;
      margin-left: 0;

      > button {
        margin-left: $margin-small;
        line-height: initial;

        &:focus + .popup {
          max-height: $popup-max-height;
        }

        .notification {
          background-color: $primary-color;
          color           : white;
          padding         : $padding-smallest $padding-small;
          border-radius   : $border-radius-biggest;
        }
      }

      .popup {
        @include transition (all 0.2s ease-in-out);
        @include font-line(12px);

        border-radius: $border-radius;
        z-index      : 10;
        right        : 0;
        margin-top   : $margin-smallest;
        position     : absolute;
        box-shadow   : 0 2px 2px silver;
        width        : 280px;
        max-height   : 0px;
        overflow     : hidden;

        &:hover {
          max-height: $popup-max-height;
        }

        threads {
          max-height: $popup-max-height;
          overflow  : auto;
          position  : relative;
        }
      }
    }
  }
}
