@import "work-includes";

$header-height: 70px;

layout-header {
  display: block;
  padding: $padding $padding-small;

  .logo {
    display: block;
    float: left;
    color: $white;
  }

  .links {
    @include vertical-align-middle();

    float: right;

    > li {
      margin-left: $margin;

      > a, > button {
        color: $white;
        text-transform: uppercase;
      }
    }

    .projects, .profile {
      position: relative;

      >  button {
        &:focus + ul {
          max-height: 200px;
        }
      }
    }

    .sublinks {
      @include transition (all 0.2s ease-in-out);

      position        : absolute;
      max-height      : 0;
      overflow        : hidden;
      background-color: $white;
      right           : 0;
      width           : 200px;
      margin-top      : $margin-smallest;
      border-radius   : $border-radius;

      &:hover {
        max-height: 200px;
      }

      li {
        &:hover {
          background: $neutral-color;
        }

        a {
          padding: 10px 15px;
          display: block;
          color: $black;
        }
      }
    }

    .notifications {
      $popup-max-height: 300px;

      position: relative;
      margin-left: 0;

      > button {
        margin-left: $margin-small;
        line-height: initial;

        &:focus + .popup {
          max-height: $popup-max-height;
        }

        .notification {
          background-color: $primary-color;
          color           : white;
          padding         : 4px 12px;
          border-radius   : 50%;
        }
      }

      .popup {
        @include transition (all 0.2s ease-in-out);
        @include font-line(12px);

        border-radius: $border-radius;
        z-index      : 10;
        right        : 0;
        margin-top   : $margin-smallest;
        position     : absolute;
        box-shadow   : 0 2px 2px silver;
        width        : 280px;
        max-height   : 0px;
        overflow     : hidden;

        &:hover {
          max-height: $popup-max-height;
        }

        threads {
          max-height: $popup-max-height;
          overflow  : scroll;
          position  : relative;
        }
      }
    }
  }

  .app-name {
    clear     : both;
    color     : $white;
    text-align: center;
  }
}
