@import "work-includes";

layout-project-nav {
  display         : block;
  background-color: $neutral-color-light;
  text-align      : center;
  font-family     : "sofia-pro";

  ul {
    @include vertical-align-middle();

    li {
      padding: $padding $padding-big;

      &.active {
        border-bottom: 3px solid $primary-color;
      }

      a {
        display       : block;
        text-transform: uppercase;
        color         : black;
        font-size     : 15px;
        cursor        : pointer;
      }
    }
  }
}
