ul
  li(ng-class="{active: vm.activeLink == 'timeline'}")
    a(ui-sref="timeline({ workId: vm.workId })") Timeline

  li(ng-class="{active: vm.activeLink == 'submissions'}")
    a(ui-sref="submissions({ projectId: vm.workId })") Submissions

  li(ng-class="{active: vm.activeLink == 'messaging'}")
    a(ui-sref="messaging({ id: vm.workId, threadId: vm.threadId })") Messaging

  li(ng-class="{active: vm.activeLink == 'project-requirements'}")
    a(ui-sref="project-requirements({ id: vm.workId })") Project reqs

  li(ng-class="{active: vm.activeLink == 'project-settings'}")
    a(ui-sref="project-settings({ id: workId })") Project settings