ul.flex.center.middle
  li
    a.clean.logo("ng-home-link"=true, "href"="{{ vm.homeHref }}")
      img(src="/images/asp-logo.svg")

  li.app-name
    h4(ng-if="vm.showAppName") {{ vm.appName }}

  li
    ul.links
      li(ng-show="vm.loggedIn")
        a(ui-sref="view-work-multiple") Dashboard

      li.projects(ng-show="vm.loggedIn")
        button.clean(focus-on-click=true) Projects <span class="caret">&dtrif;</span>

        ul.sublinks.elevated
          li
            a(ui-sref="submit-work") Create New Project

          li(ng-repeat="project in vm.projects")
            a(ui-sref="timeline({ workId: project.id })")
              .name {{ project.name }}

      li.login(ng-hide="vm.loggedIn")
        a(ui-sref="login") Log in

      li.profile(ng-show="vm.loggedIn")
        button.clean(focus-on-click=true)
          avatar

        ul.sublinks.elevated
          li
            a(href="#") View Profile

          li
            a(ng-click="vm.logout()") Logout

          li
            a(ui-sref="submit-work") Settings

      li.notifications(ng-show="vm.loggedIn")
        button.clean(type="button" focus-on-click=true)
          .notification {{ vm.unreadCount || 0 }}

        .popup.elevated
          threads(subscriber-id="{{ vm.subscriberId }}")

