header projects

ul
  li
    a(ng-if="vm.userType == 'customer' " ui-sref="submit-work") Create New Project

  li(ng-if="vm.userType == 'customer' " ng-repeat="project in vm.projects")
    a(ui-sref="timeline({ workId: project.id })") {{ project.name }}

  li(ng-if="vm.userType != 'customer' " ng-repeat="project in vm.copilotProjects")
    a(ui-sref="copilot-project-details({ id: project.id })") {{ project.name }}