layout-header.has-project-header(role="banner" work-id="1234" user-type="copilot")

layout-project-nav(work-id="1234" user-type="copilot")

main.layout-main(role="main" layout-main=true)
  h2 copiot page

layout-footer

