layout-header(role="banner" work-id="1234" user-type="customer")

layout-project-nav(work-id="1234" user-type="customer")

main.layout-main(role="main" layout-main=true)
  h2 customer page

layout-footer

