layout-header(role="banner" work-id="1234")

layout-project-nav(work-id="1234")

layout-project-nav(work-id="1234" user-type="copilot")

main.layout-main(role="main" layout-main=true)
  h2 fake manage page

layout-footer

